{% extends 'base.html' %}
{% block title %}
    Upload log file
{% endblock %}
{% block content %}
    <a href="{% url 'admin:index' %}" class="href">Управление</a>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="button">Отправить</button>
    </form>
    <br>Недавние файлы:<br>
    {% for file in files %}
        <a href="{% url "reader:reader" file.name%}" class="href">
        {{ file.name }}
        </a>  {{ file.date }}
        <br>
    {% endfor %}
{% endblock %}