{% extends 'base.html' %}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 p-5">
                <div class="card" style="background-color: black;">
                <div class="text-center my-5">
                    {% include 'includes/logo.html' with width=90 height=130 %}
                </div>
                    <div class="card-body">
                        {% csrf_token %}
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ error|escape }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-outline mb-4" aria-required="true">
                                    {{ field }}
                                </div>
                            {% endfor %}

                            <input type="submit" value="Войти" class="btn btn-warning btn-block mb-8 col-12">
                        </form>
                    </div> <!-- card body -->
                </div> <!-- card -->
            </div> <!-- col -->
        </div> <!-- row -->
    </div>
{% endblock %}